In [0]:
import pandas as pd

# **Pandas**

---

**Series**

In [2]:
series = pd.Series([10, 9, 7, 4, 0]) # Series: data en forma de vector
series

0    10
1     9
2     7
3     4
4     0
dtype: int64

In [4]:
type(series) # Tipo de la variable series

pandas.core.series.Series

In [7]:
# Slicing con series de pandas
print(series[3])
print(series[3: 5])
print(series[2:])
print(series[1::2])

4
3    4
4    0
dtype: int64
2    7
3    4
4    0
dtype: int64
1    9
3    4
dtype: int64

In [8]:
# Las series pueden contener caracteres y son de tipo "object"
cad = pd.Series(['h', 'e', 'c', 't', 'o', 'r'])
print(cad)

0    h
1    e
2    c
3    t
4    o
5    r
dtype: object

**Dataframes**

In [9]:
df = pd.DataFrame(['hello', 'robotic', 'world']) # Estructura de un Dataframe
print(df)

         0
0    hello
1  robotic
2    world

In [10]:
data = {
    'Nombre': ['Hector', 'Foo', 'Bar'],
    'Edad': [14, 25, 36],
    'Pais': ['MX', 'CO', 'BR']
} # Data para un dataframe
df = pd.DataFrame(data) # Creacion del dataframe
print(df)

   Nombre  Edad Pais
0  Hector    14   MX
1     Foo    25   CO
2     Bar    36   BR

In [12]:
print(df[['Nombre', 'Pais']]) # "Slicing" en dataframes

   Nombre Pais
0  Hector   MX
1     Foo   CO
2     Bar   BR

**Archivos csv**

In [13]:
data = pd.read_csv('canciones-2018.csv') # Datos desde un csv
data.head(6) # Primeras 6 filas de mi data

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
5  7dt6x5M1jzdTEt8oCbisT  ...            4.0

[6 rows x 16 columns]

In [16]:
artistas = data.artists # Columna artist
artistas[4] # Artista en indice 4

'Drake'

In [38]:
info = data.iloc # Info de cada fila, se accede por slicing
info[0][1]

"God's Plan"

In [39]:
data.tail(6) # Devuelve las ultimas 6 filas de datos

                       id  ... time_signature
94  3GVkPk8mqxz0itaAriG1L  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[6 rows x 16 columns]

In [40]:
data.shape # Forma del dataframe

(100, 16)

In [41]:
data.columns # Nombre de las columnas del dataframe

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [42]:
len(data) # Numero de elementos del dataframe

100

In [43]:
data.describe # Genera estadisticas descriptivas del dataframe

       danceability      energy  ...    duration_ms  time_signature
count     100.00000  100.000000  ...     100.000000          100.00
mean        0.71646    0.659060  ...  205206.780000            3.98
std         0.13107    0.145067  ...   40007.893404            0.20
min         0.25800    0.296000  ...   95467.000000            3.00
25%         0.63550    0.562000  ...  184680.000000            4.00
50%         0.73300    0.678000  ...  205047.500000            4.00
75%         0.79825    0.772250  ...  221493.250000            4.00
max         0.96400    0.909000  ...  417920.000000            5.00

[8 rows x 13 columns]

In [46]:
# Puede usarse slicing
print(data.describe()['energy'])
print(data['energy'].describe())

# O dot notation
print(data.energy.describe())

count    100.000000
mean       0.659060
std        0.145067
min        0.296000
25%        0.562000
50%        0.678000
75%        0.772250
max        0.909000
Name: energy, dtype: float64
count    100.000000
mean       0.659060
std        0.145067
min        0.296000
25%        0.562000
50%        0.678000
75%        0.772250
max        0.909000
Name: energy, dtype: float64
count    100.000000
mean       0.659060
std        0.145067
min        0.296000
25%        0.562000
50%        0.678000
75%        0.772250
max        0.909000
Name: energy, dtype: float64

In [48]:
# ordenar por indice en orden no ascendente
data.sort_index(axis=0, ascending=False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]

In [55]:
# Ordenar valores segun name (por filas de datos, 0)
data.sort_values('name', axis=0)

                       id  ... time_signature
77  4QtiVmuA88tPQiCOHZuQ5  ...            4.0
60  2BgEsaKNfHUdlh97KmvFy  ...            4.0
34  2hl6q70unbviGo3g1R7uF  ...            4.0
15  3GCdLUSnKSMJhs4Tj6CV3  ...            4.0
47  4hQ6UGyWQIGJmHSo0J88J  ...            4.0
..                    ...  ...            ...
23  2iUXsYOEPhVqEBwsqP70r  ...            4.0
38  7AFASza1mXqntmGtbxXpr  ...            4.0
80  0u2P5u6lvoDfwTYjAADbn  ...            4.0
16  2qT1uLXPVPzGgFOx4jtEu  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0

[100 rows x 16 columns]

# **Reto**

---

Escoger columna y ordenarla en orden ascendente

In [60]:
data['artists'].sort_values(ascending=True)

23    5 Seconds of Summer
55                6ix9ine
88                 Anitta
60             Anne-Marie
65          Ariana Grande
             ...
38           XXXTENTACION
98                   ZAYN
95              Zac Efron
14                   Zedd
35           benny blanco
Name: artists, Length: 100, dtype: object